@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Sora", sans-serif;
  
  /* Color Palette - Clean & Professional */
  --color-primary: #FE942A; /* Orange accent */
  --color-primary-hover: #E58526;
  
  --color-bg-main: #F9FAFB; /* Gray 50 - Background utama */
  --color-bg-surface: #FFFFFF; /* White - Untuk Card, Sidebar, Navbar */
  
  --color-text-heading: #111827; /* Gray 900 - H1, H2 */
  --color-text-body: #4B5563; /* Gray 600 - Paragraf, Label */
  --color-text-muted: #9CA3AF; /* Gray 400 - Placeholder, Icon */
  
  --color-border-light: #F3F4F6; /* Gray 100 */
}

body {
  @apply font-sans bg-bg-main text-text-body;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}